extends templates/layout.pug


block styles
    style
        include:clean-css css/main.pc.css


block scripts
    script
        include:uglify-es(compress={toplevel:true}) js/vue.min.js


block postScripts
    script
        include:uglify-es(compress={toplevel:true}) js/main.js