extends templates/layout.pug


block metas
    meta(
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1"
    )


block styles
    style
        include:clean-css css/main.mobile.css


block scripts
    script
        include:uglify-es(compress={toplevel:true}) js/vue.min.js


block postScripts
    script
        include:uglify-es(compress={toplevel:true}) js/main.js