doctype html
html
    head
        meta(charset="UTF-8")
        block metas
        title Kana learning
        block links
        block styles
        block scripts
    body
        block content
        block postScripts