doctype html
html
    head
        meta(charset="UTF-8")
        block metas
        title Kana learning
        include favicon.pug
        block styles
        block scripts
    body
        include vue-content.pug
        block postScripts