body {
    background: #3A3A3A;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
    font-size: 0;
    font-family: sans-serif;
}

#vue_container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#main_panel {
    position: absolute;
    background: #3A3A3A;

    width: 100vw;
}

#settings_panel,
.kana_in,
.kana_out,
.result_correct,
.result_incorrect,
.settings_btn {
    position: absolute;
    background: #1C1C1C;
    color: #fff;
}

.kana_out {
    display: flex;

    height: 36vw;
    width: 56vw;
    top: 20vw;
    left: 22vw;

    justify-content: center;
    align-items: center;

    font-size: 30vw;
}

.kana_in {
    height: 30vw;
    width: 40vw;
    top: 57vw;
    left: 30vw;

    border: none;
    padding: 0;
    outline: none;

    font-size: 21vw;
    text-align: center;
}


.result_correct,
.result_incorrect {
    height: 16vw;
    width: 28vw;
    top: 57vw;

    font-size: 14vw;
    line-height: 16vw;
    text-align: center;
}

.result_correct {
    left: 71vw;
}

.result_incorrect {
    left: 1vw;
}

.settings_btn {
    height: 14vw;
    width: 14vw;
    top: 3vw;
    left: 3vw;
    border-radius: 50%;
}

.settings_btn > svg {
    margin: 2vw;
    height: 10vw;
    width: 10vw;
}

#settings_panel {
    height: 100vh;
    width: 70vw;
}

.vocab_item {
    background: rgba(98,27,27,.4);
    margin: 1.5vw;

    font-size: 9vw;
    text-align: center;
}

.vocab_item[in-list="true"] {
    background: rgba(27,98,30,.4);
}

.correct {
    animation: correct_show_key .6s forwards;
}


.incorrect {
    animation: incorrect_show_key .6s forwards;
}

.open_settings {
    animation: open_settings_key .2s forwards;
}

.close_settings {
    animation: close_settings_key .2s forwards;
}


@keyframes correct_show_key {
    from {
        background: #62ff47;
    }

    to {
        background: #1C1C1C;
    }
}

@keyframes incorrect_show_key {
    from {
        background: #ff4747;
    }

    to {
        background: #1C1C1C;
    }
}

@keyframes open_settings_key {
    from {
        opacity: 0;
        left: -20vw;
    }

    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes close_settings_key {
    from {
        opacity: 1;
        left: 0;
    }

    to {
        opacity: 0;
        left: -20vw;
    }
}